html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

:root {
    /* Light mode background color for what is not covered by the egui canvas,
    or where the egui canvas is translucent. */
    --margin-background: #909090;

    --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
    body {
        /* Dark mode background color for what is not covered by the egui canvas,
        or where the egui canvas is translucent. */
        --margin-background: #404040;

        --text-color: #eeeeee;
    }
}

body {
    background: var(--margin-background);
}

/* Allow canvas to fill entire web page: */
html,
body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

/* Position canvas in center-top: */
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

$panic-red: #ce2828;

#panic {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--margin-background);
    color: var(--text-color);

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 1em 2em;
    border-radius: 2em;

    pointer-events: none;

    h1 {
        margin-top: 0;
        color: $panic-red;
        font-weight: bold;
    }

    button {
        background-color: $panic-red;
        color: #000000;
        border: none;

        margin: 1em;
        padding: 0.5em 1.5em;
        border-radius: 10em;

        pointer-events: all;

        &:hover {
            background-color: darken($panic-red, 20);
            color: #eeeeee;
        }
    }

    z-index: 1000000;
}

body[data-panicked="true"] {
    background-color: $panic-red;

    #panic {
        display: block;
    }
}