html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    /* Light mode background color for what is not covered by the egui canvas,
    or where the egui canvas is translucent. */
    background: #909090;
}

@media (prefers-color-scheme: dark) {
    body {
        /* Dark mode background color for what is not covered by the egui canvas,
        or where the egui canvas is translucent. */
        background: #404040;
    }
}

/* Allow canvas to fill entire web page: */
html,
body {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

/* Position canvas in center-top: */
canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

body[data-panicked = true] {
    background-color: #ce2828;

    #panic {
        display: block;
    }
}

#panic {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ce2828;
    color: #000;

    font-weight: bold;
    text-align: center;
    
    padding: 1em 2em;
    border-radius: 2em;

    pointer-events: none;

    h1 {
        margin: 0;
    }

    z-index: 1000000;
}
